[Unit]
Description=Starts the UI for time tracking

[Service]
User=pi
Group=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/timetracker/venv/bin/python /home/pi/timetracker/src/timetracker/graphic.py
StandardOutput=/home/pi/timetracker/logs/graphic.log
StandardError=/home/pi/timetracker/logs/graphic.log
#ExecStart=/usr/bin/python3 /home/pi/timetracker/src/graphic.py
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
